.hidden{display: none;}

ul.form{
    padding:0;
    li{
        padding: 0;
        list-style: none;
        .label{
            label{font-weight: bolder;}
            span.required{color:red;}
        }
        .field{
            .help{
                font-size: smaller;
                color: #b2b2b2;
            }
        }
        input[type=submit]{
            margin-left: 0;
            margin-top: 1em;
        }
    }
}

ul.posts{
    padding: 0;
    li{
        padding: 0;
        border-bottom: 1px solid #333333;
        padding-bottom: 1em;
        padding-top: 0.5em;
        h2{
            margin-bottom: 0em;
            margin-top: 0em;
        }
    }
    li:last-of-type{border-bottom: none;}

}