{% extends "blogs/base.html" %}

{% load blogs_permissions %}

{% block extra-head %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/ratings.js"></script>
{% endblock %}


{% block content %}

    <h1>
        {% if blog.author %}{{ blog.author.username }} - {% endif %}
        {{ blog.title }}
    </h1>

    {% if request.user|can_post_to:blog %}
        <h2>Добавить пост</h2>
        {% with form as form %}
            {% include "blogs/forms/post_to_blog.html" %}
        {% endwith %}
    {% endif %}

    <ul class="posts">
        {% for post in posts %}
            {% with post as post %}
                {% include "blogs/includes/blog_post.html" %}
            {% endwith %}
        {% empty %}
            <li><p>Удивительно, но пока еще нет ни одного поста.</p></li>
        {% endfor %}
    </ul>

{#    <div class="more">#}
{#        <a href="#">Больше постов</a>#}
{#    </div>#}

{% endblock %}