{% extends "blogs/base.html" %}
{% load rating_block %}

{% block extra-head %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/theradedcomments.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/ratings.js"></script>
{% endblock %}


{% load comments %}
{% load threadedcomments_tags %}

{% block content %}

    <div class="breadcrumbs">
        <a href="{% url blogs_index %}">Блоги</a> > <a href="{{ post.blog.get_absolute_url }}">{{ post.blog.title }}</a>
    </div>

    {% if post.title %}
        <h1>{{ post.title }}</h1>
    {% endif %}
    <div class="date">{{ post.created }}</div>
    <div class="body">
        <div class="text">{{ post.content|safe }}</div>
        <div class="tags"><span style="font-weight: bold;">Теги: </span> {{ post.tags_as_str }}</div>
    </div>
    <div class="actions">
        <a href="{% url blogs_post_delete blog_pk=post.blog_id post_pk=post.pk %}">Удалить</a>
        <a href="{% url blogs_post_edit blog_pk=post.blog_id post_pk=post.pk %}">Редактировать</a>
    </div>

    <h2>Комментарии</h2>
    <p>
        {% with post as post %}
            {% include "blogs/includes/comments_link.html" %}
        {% endwith %}

    </p>

    <ul class="comments">
{#        {% get_comment_list for post as comment_list %}#}
        {% for comment in comment_list|fill_tree|annotate_tree %}
            <li class="comment">
                {% ifchanged comment.parent_id %}{% else %}
                    </li>
                {% endifchanged %}
            {% if not comment.open and not comment.close %}
                </li>
            {% endif %}
            {% if comment.open %}
                <ul>{% endif %}
        <li data-parent-pk="{{ comment.pk }}" class="{% if comment.last %}last {% endif %}{% if last_view < comment.submit_date %}new-comment {% endif %}">
            <!-- comment body -->
            <div class="name">{{ comment.name }}</div>
            <div class="comment">{{ comment.comment }}</div>
            <a class="reply" href="#">Ответить</a>
            <a href="{% url blogs_comment_delete post_pk=post.pk comment_pk=comment.pk %}">Удалить</a>
            {% rating comment %}
            <!-- /comment body -->
            {% for close in comment.close %}
                </li>
                </ul>
            {% endfor %}
            </li>
        {% endfor %}

        <li class="reply">
            <a class="reply" href="#">Оставить комментарий</a>
        </li>
    </ul>

    <a href="{{ post.blog.get_absolute_url }}">Назад в блог</a>

    <div id="template-comments-form" class="hidden">
        {% get_comment_form for post as form %}
        <form action="{% comment_form_target %}" method="post" style="display: none;">
            <input type="hidden" name="next" value="{{ post.get_absolute_url }}"/>
            <ul class="form">
                {% with form as form %}
                    {% include "includes/form.html" %}
                {% endwith %}
                <li>
                    <input type="submit" name="submit" value="Отправить">
                </li>
            </ul>
        </form>
    </div>

{% endblock %}
