<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <script type="text/javascript" src="{{ STATIC_URL }}test_jsmvc/jquery.min.js"></script>
    <script type='text/javascript' src='{{ STATIC_URL }}test_jsmvc/steal/steal.js?test_jsmvc.settings.js'>
 </script>
    <title>Числогенератор на JS MVC</title>
</head>
<body>
    <h1>Числогенератор "{{ STATIC_URL }}"</h1>
    <div id="nums"></div>
    <button id="more-nums">Еще чисел</button>
</body>
</html>