<!doctype html>
<html>
<head>
  <title>{% block title %}Kinostan | Блоги{% endblock %}</title>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.6.2.min.js"></script>
  <link rel="stylesheet/less" type="text/css" href="{{ MEDIA_URL }}css/styles.less">
  <script type="text/javascript" src="{{ MEDIA_URL }}js/less-1.1.3.min.js"></script>
  {% block extra-head %}{% endblock %}
</head>

<body>
    {% block auth %}
        <div class="auth">
            {% if request.user.is_anonymous %}
                <a href="{% url django.contrib.auth.views.login %}">Вход</a>
            {% else %}
                {{ request.user }} <a href="{% url django.contrib.auth.views.logout %}">выход</a>
            {% endif %}
        </div>
    {% endblock %}

    {% block search %}{% endblock %}

    {% block flash %}
       {% if flash.message %}
        <!-- There's a flash-scoped object under the 'message' key -->

        <div class="flash_message">
            <p>{{ flash.message }}</p>
        </div>
        {% endif %}
    {% endblock %}
    
    {% block content %}

    {% endblock %}
</body>
</html>
