{% load cms_tags %}
<!doctype html>
<head>
  <title>{{ request.current_page.get_title }}</title>
  {% plugins_media %}
  {% block extra-head %}{% endblock %}
</head>

<body>
    {% block flash %}
       {% if flash.message %}
        <!-- There's a flash-scoped object under the 'message' key -->

        <div class="flash_message">
            <p>{{ flash.message }}</p>
        </div>
        {% endif %}
    {% endblock %}
    
    {% block content %}
        {% placeholder "main" %}
    {% endblock %}
</body>
</html>